@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');
html {
  font-family: 'Eczar', serif;
  font-size: 16px;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
}

.container {
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  position: relative;
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 32px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  overflow: hidden;
}

.game {
  width: 90%;
  height: 85%;
  background-color: #ff7b01;
  border-radius: 50px;
  border-top: 9px solid #ff7b01;
  border-bottom: 9px solid #ff7b01;
  border-left: 15px solid #ff7b01;
  border-right: 15px solid #ff7b01;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.left__circle {
  position: absolute;
  left: 12px;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  transform: translateY(-50%);
}

.left__circle i,
.right__circle i {
  font-size: 16px;
  color: rgb(253, 38, 38);
}

.right__circle {
  position: absolute;
  right: 12px;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  transform: translateY(-50%);
}

.game__container,
.menu-board__container {
  width: 100%;
  height: 100%;
  border-radius: 45px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  box-sizing: border-box;
  /* box-shadow: 6px -6px 17px 6px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 6px -6px 17px 6px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 6px -6px 17px 6px rgba(0, 0, 0, 0.6) inset; */
}

.game__container {
  display: none;
  background-color: #fff;
}

.menu-board__container {
  background-image: url('../images/menu-board/processed-057daf40-fd87-4482-8246-f6a08de38dd7_9pNX3tMT.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  box-sizing: border-box;
}

.game__container-left {
  width: 25%;
  height: 100%;
  display: flex;
  margin-right: 1.4%;
  gap: 2px;
}

.leftSideBoxContainer,
.rightSideBoxContainer {
  width: 47%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 92%;
  height: 21%;
  padding: 4% 0 0 8%;
}

.leftSideBoxContainer .box,
.rightSideBoxContainer .box {
  margin-bottom: 6px;
}

.box:last-child {
  margin-bottom: 20%;
}

.btnGroup {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  height: 68%;
}
.animalCircleImg {
  width: 80%;
  height: 110%;
  cursor: pointer;
}
.reduceBtn {
  width: 30%;
  height: 50%;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.amountField {
  width: 90%;
  height: 25%;
  padding: 5%;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.myValue,
.maxValue {
  width: 48%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: end;
  color: orange;
  font-size: 1.5rem;
  font-weight: 800;
  padding-right: 2.6px;
  box-sizing: border-box;
}
.myValue {
  border-start-start-radius: 5px;
  border-end-start-radius: 5px;
}
.maxValue {
  border-start-end-radius: 5px;
  border-end-end-radius: 5px;
}

.game__container-center {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.game__container-center-top {
  width: 100%;
  height: 77%;
  position: relative;
  background-image: url(../images/square-buttons/sea-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 3s;
}

.game__container-center-top .img1 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 0%;
  top: 0;
  z-index: 5;
}

.game__container-center-top .img2 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 10.5%;
  top: 0;
  z-index: 5;
}

.game__container-center-top .img3 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 21%;
  top: 0;
  z-index: 5;
}

.game__container-center-top .img4 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 31.5%;
  top: 0;
  z-index: 5;
}

.game__container-center-top .img5 {
  position: absolute;
  width: 16%;
  height: 16%;
  left: 42%;
  top: 0;
  transform: rotate(360deg);
  z-index: 5;
}

.game__container-center-top .img6 {
  position: absolute;
  width: 11%;
  height: 10.5%;
  left: 58%;
  top: 0;
  z-index: 5;
}

.game__container-center-top .img7 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 68.5%;
  top: 0;
  z-index: 5;
}

.game__container-center-top .img8 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 79%;
  top: 0;
  z-index: 5;
}

.game__container-center-top .img9 {
  position: absolute;
  width: 10.7%;
  height: 10.7%;
  right: 0%;
  top: 0;
  z-index: 5;
}

.game__container-center-top .img10 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  right: 0;
  top: 10.2%;
  z-index: 5;
}

.game__container-center-top .img11 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  right: 0;
  top: 20.5%;
  z-index: 5;
}

.game__container-center-top .img12 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  right: 0;
  top: 31%;
  z-index: 5;
}

.game__container-center-top .img13 {
  position: absolute;
  width: 16%;
  height: 16%;
  right: 0%;
  top: 41.5%;
  z-index: 5;
}

.game__container-center-top .img14 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  right: 0%;
  top: 57.4%;
  z-index: 5;
}

.game__container-center-top .img15 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  right: 0%;
  top: 67.9%;
  z-index: 5;
}

.game__container-center-top .img16 {
  position: absolute;
  width: 10.6%;
  height: 10.6%;
  right: 0%;
  top: 78.4%;
  z-index: 5;
}

.game__container-center-top .img17 {
  position: absolute;
  width: 11%;
  height: 11%;
  right: 0%;
  bottom: 0%;
  z-index: 5;
}

.game__container-center-top .img18 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  right: 10.8%;
  bottom: 0%;
  z-index: 5;
}

.game__container-center-top .img19 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  right: 21.3%;
  bottom: 0%;
  z-index: 5;
}

.game__container-center-top .img20 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  right: 31.8%;
  bottom: 0%;
  z-index: 5;
}

.game__container-center-top .img21 {
  position: absolute;
  width: 16%;
  height: 16%;
  right: 42.3%;
  bottom: 0%;
  z-index: 5;
}

.game__container-center-top .img22 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  right: 58.3%;
  bottom: 0%;
  z-index: 5;
}

.game__container-center-top .img23 {
  position: absolute;
  width: 11%;
  height: 10.5%;
  right: 68.7%;
  bottom: 0%;
  z-index: 5;
}

.game__container-center-top .img24 {
  position: absolute;
  width: 10.7%;
  height: 10.7%;
  right: 79.3%;
  bottom: 0%;
  z-index: 5;
}

.game__container-center-top .img25 {
  position: absolute;
  width: 10.7%;
  height: 10.7%;
  left: 0%;
  bottom: 0%;
  z-index: 5;
}

.game__container-center-top .img26 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 0%;
  bottom: 10.7%;
  z-index: 5;
}

.game__container-center-top .img27 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 0%;
  bottom: 21.2%;
  z-index: 5;
}

.game__container-center-top .img28 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 0%;
  bottom: 31.7%;
  z-index: 5;
}

.game__container-center-top .img29 {
  position: absolute;
  width: 16%;
  height: 16%;
  left: 0%;
  bottom: 42.2%;
  z-index: 5;
}

.game__container-center-top .img30 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 0%;
  bottom: 58.2%;
  z-index: 5;
}

.game__container-center-top .img31 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 0%;
  bottom: 68.7%;
  z-index: 5;
}

.game__container-center-top .img32 {
  position: absolute;
  width: 10.5%;
  height: 10.5%;
  left: 0%;
  bottom: 79.2%;
  z-index: 5;
}

.game__container-center-bottom {
  width: 100%;
  height: 12%;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  margin-top: 1.4rem;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0 0.7rem 0 0.7rem;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 9%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px,
    rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px,
    rgb(0 0 0 / 9%) 0px 32px 16px;
}

.game__container-center-bottom-item1,
.game__container-center-bottom-item2 {
  display: flex;
  align-items: center;
  gap: 6px;
}

.game__container-center-bottom p {
  font-size: 1.3rem;
  color: #fff;
}

.game__container-center-bottom span {
  width: 60px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ff7b01;
  padding: 6px 4px;
  box-sizing: border-box;
}

.game__container-right {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game__container-right .box {
  padding: 0px;
  width: 100%;
  height: 12.7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 4px;
}

.game__container-right .box .animalCircleImg {
  width: auto;
  height: 108%;
  margin-left: 0.5rem;
}

.box-amount {
  width: 50%;
  height: 80%;
  border-radius: 8px;
  display: flex;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  align-items: center;
  justify-content: space-evenly;
}

.box-amount-item:nth-child(2) {
  border-radius: 0 8px 8px 0;
}

.box-amount-item {
  width: 43%;
  height: 70%;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.box-amount-item span {
  font-weight: 600;
  font-size: 1.5rem;
  color: orange;
  margin-right: 4px;
}
/* .game__container-right .box .amountField{
    width: 30%;
    padding: 5%;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.game__container-right .box .reduceBtn{
    width: 18%;
    height: 50%;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
} */
/* .game__container-right .btn-box {
  width: 50%;
  height: 14%;
  display: flex;
  justify-content: center;
  padding-left: 40px;
}
.game__container-right .btn-box .rotate {
  height: 100%;
} */
.game__container-right .btn {
  display: flex;
  justify-content: center;
  padding: 0px;
  width: 100%;
  height: 13%;
  padding-left: 1rem;
}

.game__container-right .btn img {
  height: 100%;
}

.game__container-right .btn .image1 {
  margin-right: 1.2rem;
}

.game__container-right .get-coin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 80%;
  height: 12%;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  border-radius: 12px;
  gap: 4px;
  margin-top: 0.2rem;
  margin-left: 1rem;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 9%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px,
    rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px,
    rgb(0 0 0 / 9%) 0px 32px 16px;
  cursor: pointer;
  z-index: 1;
}
.game__container-right .get-coin img {
  width: 15%;
}
.game__container-right .get-coin span {
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
}

.left__circle i::after,
.right__circle i::after {
  content: '';
  position: absolute;
  border-top: 3px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 70%;
  height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.left__circle i,
.right__circle i {
  font-size: 16px;
  color: rgb(253, 38, 38);
  animation: animate 4s ease infinite;
  position: relative;
}

.lose {
  color: rgb(253, 38, 38);
  animation: loseAnimation 1s ease-in-out infinite !important;
}

.win {
  color: #9efd10;
  animation: winAnimation 1s ease-in-out infinite !important;
}
.draw {
  color: rgb(253, 38, 38);
  animation: drawAnimation 2s ease-in-out infinite !important;
}

@keyframes drawAnimation {
  0% {
    color: rgb(253, 38, 38);
    text-shadow: initial;
  }
  49.9% {
    color: #ff0000;
    text-shadow: 0 0 0.5rem #ff0000, 0 0 1rem #ff0000, 0 0 1.5rem #ff0000,
      0 0 2.5rem #ff0000, 0 0 4rem #ff0000, 0 0 5.5rem #ff0000, 0 0 6rem #ff0000,
      0 0 9rem #ff0000;
  }
  50% {
    color: #9efd10;
    filter: brightness(0.9);
    text-shadow: initial;
  }
  100% {
    color: #55fa6a;
    text-shadow: 0 0 0.5rem #55fa6a, 0 0 1rem #55fa6a, 0 0 1.5rem #55fa6a,
      0 0 2.5rem #55fa6a, 0 0 4rem #55fa6a, 0 0 5.5rem #55fa6a, 0 0 6rem #55fa6a,
      0 0 9rem #55fa6a;
    filter: brightness(1);
  }
}

@keyframes loseAnimation {
  0% {
    color: rgb(253, 38, 38);
  }
  100% {
    color: red;
    text-shadow: 0 0 7px red, 0 0 10px red, 0 0 21px red, 0 0 42px red,
      0 0 82px red, 0 0 92px red, 0 0 102px red, 0 0 151px red;
  }
}
/* ff0a01 */
/* ff2e16 */

@keyframes winAnimation {
  0% {
    color: #9efd10;
    filter: brightness(0.9);
  }
  100% {
    color: #55fa6a;
    text-shadow: 0 0 0.5rem #55fa6a, 0 0 1rem #55fa6a, 0 0 1.5rem #55fa6a,
      0 0 2.5rem #55fa6a, 0 0 4rem #55fa6a, 0 0 5.5rem #55fa6a, 0 0 6rem #55fa6a,
      0 0 9rem #55fa6a;
    filter: brightness(1);
  }
}

@keyframes animate {
  0% {
    color: rgb(253, 38, 38);
  }
  45% {
    color: rgb(253, 38, 38);
  }
  70% {
    color: rgb(158, 253, 16);
  }
  100% {
    color: rgb(158, 253, 16);
  }
}

.left__circle i:nth-child(1),
.right__circle i:nth-child(1) {
  animation-delay: 0s;
}
.left__circle i:nth-child(2),
.right__circle i:nth-child(2) {
  animation-delay: 0.3s;
}
.left__circle i:nth-child(3),
.right__circle i:nth-child(3) {
  animation-delay: 0.6s;
}
.left__circle i:nth-child(4),
.right__circle i:nth-child(4) {
  animation-delay: 0.9s;
}
.left__circle i:nth-child(5),
.right__circle i:nth-child(5) {
  animation-delay: 1.2s;
}
.left__circle i:nth-child(6),
.right__circle i:nth-child(6) {
  animation-delay: 1.5s;
}
.left__circle i:nth-child(7),
.right__circle i:nth-child(7) {
  animation-delay: 1.8s;
}

.myValue {
  border-start-start-radius: 5px;
  border-end-start-radius: 5px;
  border-start-end-radius: 2.5px;
  border-end-end-radius: 2.5px;
}
.maxValue {
  border-start-end-radius: 5px;
  border-end-end-radius: 5px;
  border-start-start-radius: 2.5px;
  border-end-start-radius: 2.5px;
}

#count-down {
  color: #ffe600;
  font-size: 3.2rem;
  font-weight: 900;
  position: relative;
  transform: scale(0);
  display: none;
  animation: fadeIn 500ms ease-in-out forwards;
}

#count-down span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#outOfCoin {
  width: 60%;
  height: fit-content;
  position: absolute;
  display: none;
}

#outOfCoin span {
  position: absolute;
  font-size: 0.9rem;
  right: 15px;
  bottom: 10px;
  color: #fff;
}

#outOfCoin img {
  width: 100%;
  border-radius: 35px;
}

#wonAnimal {
  display: none;
  height: 50%;
  position: absolute;
  animation: fadeIn 500ms ease-in-out forwards;
}

#loseAnimationGif {
  display: none;
  height: 80%;
  margin-top: 30px;
  position: absolute;
  animation: loseAnimationGif 1.2s ease-in-out forwards;
  transform: translateX(-100%);
}

@keyframes loseAnimationGif {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#historyCon {
  /* padding: 9px 20px; */
  height: 80px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-sizing: border-box;
  background: rgb(255, 230, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 10px;
}

#historyCon img {
  height: 80px;
  width: 80px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.bird {
  height: 79% !important;
  width: auto !important;
  margin: 0px 9px;
}

.whale {
  height: 90% !important;
  width: auto !important;
  margin: 9px 0 0 9px;
}

.gameStop {
  position: absolute;
  width: 55%;
  height: 42%;
  padding: 5px 20px;
  text-align: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 35px;
  background: linear-gradient(
    65deg,
    rgba(4, 125, 180, 0.5),
    rgba(4, 125, 180, 0.1)
  );
  display: none;
  box-sizing: border-box;
  animation: fadeIn 500ms ease-in-out forwards;
}

.gameStop p {
  background: linear-gradient(45deg, #ffe600, #ff7b01);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
}

.img img {
  width: 100%;
  height: 100%;
}

.animate::after {
  content: '';
  background-image: url('../images/24265652.jpg');
  background-size: contain;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-first_con {
  width: 100%;
  height: 28%;
  display: flex;
  justify-content: space-between;
}
.menu-controls {
  width: 25%;
  height: 48%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu-controls img {
  height: 100%;
  cursor: pointer;
}

#volumeBtn {
  color: #fff;
  font-size: 2rem;
  height: 85%;
  width: 28%;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #ff9600, #ffd700);
  box-sizing: border-box;
  margin-right: 0.38rem;
  cursor: pointer;
}

.profile-con {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile {
  height: 45%;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nameAndLevel {
  width: 70%;
  height: 70%;
  border-radius: 75px 20px 20px 75px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.nameAndLevel p {
  color: #ff9600;
  font-weight: 900;
  margin-right: 7px;
}

.profile img {
  width: 15%;
}

.coin-con {
  height: 45%;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-size: 40px;
  font-weight: 900;
  box-sizing: border-box;
  cursor: pointer;
}

.coin-con img {
  height: 70%;
}

#menuPlayBtn,
#menuQuitBtn {
  width: 30%;
  cursor: pointer;
}

.start-loading {
  width: 100%;
  height: 1rem;
  padding: 1px;
  border-radius: 20px;
  border: #ffe600 solid 3px;
  padding: 2px;
  box-sizing: border-box;
  margin-top: 100px;
  visibility: hidden;
  position: relative;
}

.loading {
  background-image: linear-gradient(to right, #00ffab, #99ffcd);
  height: 100%;
  width: 0;
  border-radius: 20px;
}

.loadingAnimation {
  animation: loading 1s forwards;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.loadingAfterDoneDownload {
  animation: loadingAfterDoneDownload 500ms forwards;
}

@keyframes loadingAfterDoneDownload {
  0% {
    width: 70%;
  }
  100% {
    width: 100%;
  }
}

.update {
  margin-left: 0.5rem;
}

.start-loading::before {
  content: 'Game is starting...';
  color: #ff7b01;
  font-size: 18px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
}

.buttonAnimate {
  animation: btnAnimate 200ms ease-in;
}

.profileContainer {
  display: none;
  background-color: white;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 45px;
  position: relative;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  box-sizing: border-box;
}

.profileBackBtn,
.settingBackBtn,
.achievementBackBtn,
.aboutBackBtn {
  position: absolute;
  top: 25px;
  left: 30px;
  color: white;
  font-size: 3rem;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  padding: 2px 16px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;

  cursor: pointer;
}

.profileContainer .personalInfoCon {
  width: 55%;
  height: 65%;
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.personalInfoCon > p {
  font-size: 3.2rem;
  color: #ff9600;
  font-weight: 700;
}
.level {
  width: 97%;
  height: 25px;
  border: 10px solid white;
  border-radius: 50px;
  background: rgba(212, 212, 212, 0.4);
  background-image: linear-gradient(to right, #ffe600, #ff7b01);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.menu-board__container .level {
  border: 4px solid white;
  width: 90%;
  height: 16px;
  box-sizing: border-box;
}

.profileContainer .coin-con {
  width: 60%;
  height: 90px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  cursor: pointer;
}
.redeem {
  width: 100%;
  height: 90px;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.redeem input {
  height: 77%;
  width: 70%;
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight: 900;
  font-weight: bolder;
  padding-left: 2rem;
  padding-right: 1rem;
  outline: none;
  border: none;
  color: silver;
}
.redeem input::placeholder {
  color: silver;
  font-weight: 900;
}
.redeem svg {
  fill: white;
  height: 70%;
  transform: rotate(180deg);
  cursor: pointer;
}
.profileContainer .profilePhotoCon {
  width: 35%;
  height: 70%;
  border-radius: 3rem;
  background-image: linear-gradient(to bottom, #ffe600, #ff7b01);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.profileContainer .profilePhotoCon img {
  width: 60%;
}

.settingContainer,
.achievementContainer,
.aboutContainer {
  position: relative;
  display: none;
  background-color: white;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 45px;
  padding: 50px 0;
  box-sizing: border-box;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  box-sizing: border-box;
}

.settingContainer h3 {
  font-size: 3.9rem;
  font-weight: 900;
  background-image: linear-gradient(to bottom, #ffe600 40%, #ffa900);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 2%;
}

.settingContainer > div span {
  color: #ffa900;
  font-size: 2.5rem;
  font-weight: 900;
  background: linear-gradient(to bottom, #ffe600, #ff7b01);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.settingContainer > div {
  width: 100%;
  display: flex;
  gap: 50px;
}
/* .bettingTimeCon {
  display: flex;
  gap: 50px;
} */

/* .bettingTimeCon > div {
  flex: 1;
} */

.settingContainer > div > div {
  width: 50%;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.right {
  justify-content: flex-start !important;
}

.center {
  justify-content: center !important;
}

.settingContainer .volCon {
  width: 200px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  background: linear-gradient(to bottom, #ffe600, #ff7b01);
}

.bettingTimeCon .right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.bettingTimeCon .right > div {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.bettingTimeCon .right > p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ffe600, #ff7b01);
  letter-spacing: 4px;
  color: #fff;
  cursor: default;
}

.volumeControl {
  width: 90%;
  height: 10px;
  appearance: none;
  -webkit-appearance: none;
  background: cornsilk;
  background-image: linear-gradient(rgb(13, 181, 181), rgb(7, 255, 255));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  cursor: pointer;
}

.volumeControl::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
  cursor: pointer;
}

.switch {
  position: relative;
  width: 110px;
  height: 45px;
  border-radius: 25px;
}

#musicBtn {
  cursor: pointer;
}

.switch input {
  appearance: none;
  width: 110px;
  height: 45px;
  border-radius: 25px;
  background: linear-gradient(to bottom, #ffe600, #ff7b01);
  outline: none;
}

.switch input::before,
.switch input::after {
  z-index: 2;
  position: absolute;
  top: 56%;
  transform: translateY(-58%);
  font-weight: 900;
  font-size: 1rem;
}

.switch input::before {
  color: #ff7b01;
  content: 'OFF';
  left: 10px;
  transition: color 0.5s;
}

.switch input::after {
  color: #fff;
  content: 'ON';
  right: 15px;
  transition: color 0.5s;
}

.switch input:checked {
  background: linear-gradient(to bottom, #ffe600, #ff7b01);
}

.switch label {
  z-index: 1;
  position: absolute;
  top: 5px;
  bottom: 4px;
  border-radius: 20px;
}

.switch input {
  transition: 0.25s;
}

.switch input:checked + label {
  left: 5px;
  right: 55px;
  background: #fff;
  transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked) {
  background: linear-gradient(to bottom, #ffe600, #ff7b01);
  transition: background 0.4s;
}

.switch input:not(:checked)::before {
  color: #fff;
  transition: color 0.5s;
}

.switch input:not(:checked)::after {
  color: #ff7b01;
  transition: color 0.5s 0.2s;
}

.switch input:not(:checked) + label {
  left: 55px;
  right: 5px;
  background: #fff;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
}

.privacy,
.userAgreement,
.aboutBettingSlots,
.leaderboardHeader {
  /* width: 180px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: unset !important;
  padding: 10px 36px;
  border-radius: 30px;
  background: linear-gradient(to bottom, #ffe600, #ff7b01);
  box-shadow: rgb(0 0 0 / 9%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px,
    rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px,
    rgb(0 0 0 / 9%) 0px 32px 16px;
  cursor: pointer;
}

.privacy,
.userAgreement > p {
  display: inline-block;
  white-space: nowrap;
}

.aboutBettingSlots {
  padding: 10px 60px;
}

.quitConfirm {
  width: 55%;
  height: 40%;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(
    65deg,
    rgba(4, 125, 180, 0.85),
    rgba(4, 125, 180, 0.7)
  );
  position: absolute;
  z-index: 10;
  transform: scale(0);
  display: none;
  position: absolute;
  animation: fadeIn 500ms ease-in-out forwards;
}

.quitConfirm > div {
  display: flex;
  width: 100%;

  justify-content: space-evenly;
}

.button:focus:not(:focus-visible),
.button:focus {
  outline: 0;
}

.button:active {
  background-color: #3e3bba;
  background-image: none;
  border-color: #3a38ae;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.noBtn:active {
  background: rgb(190, 9, 9);
  border-color: rgba(255, 9, 9, 0.5);
}

.button:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(104, 101, 235, 0.5) 0 0 0 0.2rem;
}
.noBtn:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset,
    rgba(203, 1, 1, 0.5) 0 0 0 0.2rem;
}

.noBtn,
.yesBtn,
.okBtn {
  appearance: button;
  background-color: #4d4ae8;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #4d4ae8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  vertical-align: middle;
}

.noBtn {
  background: rgb(226, 12, 12);
  border: 1px solid rgb(226, 12, 12);
}

.tableWarpper {
  border: 7.2px solid #ffd700;
  border-radius: 35px;
  width: 35%;
  height: 75%;
  box-sizing: border-box;
}

.leaderboardTable {
  border-radius: 35px;
  border-collapse: collapse;
  border-style: hidden;
  border-spacing: 0;
  width: 100%;
  height: 100%;
}

.leaderboardTable td {
  border: 7px solid #ffd700;
  width: 60%;
}

.leaderboardTable tr td:first-child {
  width: 40%;
}

.leaderboardTable tr td > div {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(235, 82, 0);
}
.leaderboardTable tr td:last-child > div {
  justify-content: space-between;
  padding-right: 16px;
}

.first {
  color: #f7d000;
}

.second {
  color: silver;
}

.third {
  color: #b87333;
}

.leaderboardHeader {
  background: #ffd700;
  color: rgb(235, 82, 0);
  font-size: 1.5rem;
  font-weight: 900;
  box-shadow: none;
}

@keyframes btnAnimate {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.85) translateY(4px);
  }
  85% {
    transform: scale(1.1) translateY(-2px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

/* .backToMenuBtn {
  position: absolute;
  top: 1.3%;
  left: 10%;
  width: 25%;
  height: 4%;
  display: flex;
  font-weight: 900;
  align-items: center;
  color: #2ecc71;
  gap: 2%;
  cursor: pointer;
  display: none;
} */
/* 
.backToMenuBtn img {
  height: 100%;
  margin-right: 10%;
} */
.quitBtn_con {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 11%;
  margin: 8px 0;
  margin-left: 1rem;
  cursor: pointer;
}

#quitBtn {
  width: 35%;
  height: 100%;
  background: linear-gradient(to bottom, #ffe600, #ff7b01);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: blue;
  font-size: 1.4rem;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  box-sizing: border-box;
}

#quitBtn span {
  background-color: blue;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
}

@keyframes fadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.loading-screen {
  width: 100%;
  height: 100%;
  border-radius: 45px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  box-sizing: border-box;
  background: linear-gradient(45deg, rgba(153, 255, 205, 0.65), #f9d423);
  display: block;
}

.wrapper {
  width: 12.5rem;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  width: 1.28rem;
  height: 1.28rem;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 25px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.shadow {
  width: 1.28rem;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.wrapper span {
  position: absolute;
  top: 75px;
  font-size: 1.9rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  color: #fff;
  left: 15%;
}

.aboutContainer {
  justify-content: center;
}
.aboutContainer .logo {
  width: 9.4rem;
  margin-bottom: 0.5rem;
}
.aboutContainer .items {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.aboutContainer h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

.aboutContainer h2,
.aboutContainer h4 {
  background: linear-gradient(to bottom, #ffe600, #ff7b01);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 0.25rem;
}

.aboutContainer p {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.55);
}

.aboutContainer h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

.shake {
  animation: shake 150ms;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }

  .container {
    width: 1200px;
    height: 700px;
  }

  .left__circle {
    left: 1.3rem;
  }

  .right__circle {
    right: 1.3rem;
  }
}
